@model Assignment.Models.RegisterViewModel;

<div class="row">
    <form asp-controller="Account" asp-action="Register" method="post">
        <h4 class="text-center">Sign up with Your Credentials</h4>
        <label asp-for="Name">Username</label>
            <input type="email" placeholder="Please enter a username">
        <label asp-for="Email">Email</label>
            <input type="email" placeholder="somebody@example.com">
        <label asp-for="Password">Password</label>
            <input type="password">
        <label asp-for="confirmPassword">Confirm Password</label>
            <input type="password">
        <input type="submit" class="button" value="Sign up" />
        <br />
        <a href="/Account/Login">Already have an account? Login</a>
    </form>
</div>

