@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <form>
        <h4 class="text-center">Sign up with Your Credentials</h4>
        <label>
            Username
            <input type="email" placeholder="Please enter a username">
        </label>
        <label>
            Email
            <input type="email" placeholder="somebody@example.com">
        </label>
        <label>
            Password
            <input type="password">
        </label>
        <label>
            Confirm Password
            <input type="password">
        </label>
        <p><input type="submit" class="button expanded" value="Sign up"></input></p>
        <a href="/Account/Login">Already have an account? Login</a>
    </form>
</div>

